<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style3.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Sistema WEB</h1>
            <button class="user-button" id="atualizarData">Atualizar: {{user}}</button>
            <button class="logout-button" onclick="window.location.href='/logout'">Sair</button>

        </div>

        <div class="menu">
            <button class="menu-button">Cadastrar</button>
            <button class="menu-button">Buscar</button>
            <button class="menu-button">Listar</button>
            <button class="menu-button">Remover</button>

            <form action="/atualizardados" method="post">
                <button type="submit" class="menu-button">Atualizar</button>
            </form>
            <p id="saidaTexto"></p>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script_botao.js')}}"></script>
    <script src="../static/js/scriptReq.js"></script>
</body>
</html>
