<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Web - Login</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
    <div class="login-container">
        <h1>SISTEMA WEB</h1>
        <form action="/fazer_login" method="POST">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit" onclick="verificar()">Enviar</button>
        </form>
    </div>
    <p>{{msg}}</p>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
